doctype html
html(lang='en')
 head
   title akiElo
 body
   h1 Third Strike Leaderboard Bitch
   ul
     each element, index in playerlist
       li= (index + 1) + ' ' + element.playertag + ' ' + element.elo