doctype html
html(lang='en')
 head
   title akiElo
 body
   h1 Third Strike Leaderboard
   div 
     table(style='width:100%', border='1')
       thead
         tr
           th Standing
           th Playertag
           th AkiElo
       tbody
         each element, index in playerlist
           tr
             th #{(index + 1)} 
             th #{element.playertag} 
             th #{element.elo}