html
 head
   p Winning Player
   select#winningPlayerTag(name='winningPlayerTag')
     each player in playerlist
       option=player 
   p Character Used
   select#winningPlayerCharacter(name='winningPlayerCharacter') 
     each character in ['Akuma', 'Alex', 'Chun Li', 'Dudley', 'Elena', 'Hugo', 'Ibuki', 'Ken', 'Makoto', 'Necro', 'Oro', 'Q', 'Remy', 'Ryu', 'Sean', 'Twelve', 'Urien', 'Yang', 'Yun']
       option=character
   p Honorable Opponent
   select#losingPlayerTag(name='losingPlayerTag')
     each player in playerlist
       option=player
   p Character Used
   select#losingPlayerCharacter(name='losingPlayerCharacter') 
     each character in ['Akuma', 'Alex', 'Chun Li', 'Dudley', 'Elena', 'Hugo', 'Ibuki', 'Ken', 'Makoto', 'Necro', 'Oro', 'Q', 'Remy', 'Ryu', 'Sean', 'Twelve', 'Urien', 'Yang', 'Yun']
       option=character
   script(type='application/javascript' src='/scripts/akiReport.js') 
   button(type="button", onclick="testDaJSON()") Submit match
 body
